<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align:CENTER;">
<h2><b>REGISTRATION FORM</b></h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="text" name="first_name" placeholder="Enter your first_name"><br>
    <input type="text" name="last_name" placeholder="Enter your last_name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="password" name="password1" placeholder="Confirm password"><br>
    <input type="submit"><br>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>